<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="builder"
         name="Closure Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="com.gg.eclipse.closure.builder.Builder">
         </run>
      </builder>
   </extension>
   <extension
         id="nature"
         name="Closure Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.gg.eclipse.closure.builder.Nature">
         </run>
      </runtime>
      <builder
            id="com.gg.eclipse.closure.builder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            nameFilter="*"
            id="com.gg.eclipse.closure.contribution1">
         <action
               label="Add/Remove Closure Nature"
               class="com.gg.eclipse.closure.builder.ToggleNatureAction"
               menubarPath="additions"
               enablesFor="+"
               id="com.gg.eclipse.closure.addRemoveNatureAction">
         </action>
      </objectContribution>
   </extension>
   <extension
         id="jsProblem"
         name="Javascript Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>

</plugin>
